{% load staticfiles %}
{% load i18n %}

<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<header class="page-header row justify-left">

    <img src="/media/img/logo.png" style="margin-top:50px;margin-left:50px;height: 50px;">
    <div style="width:92%;text-align: right;">
        {% get_current_language as LANGUAGE_CODE %}
        <!-- Current language: {{ LANGUAGE_CODE }} -->

        {% if LANGUAGE_CODE == 'en' %}
            <a href="{% url 'lang' lang='sk' %}" style="color:black;font-size:12px;">slovensky</i></a>
        {% elif LANGUAGE_CODE == 'sk' %}
            <a href="{% url 'lang' lang='en' %}" style="color:black;font-size:12px;">english</a>
        {% endif %}
    </div>

</header>
<body>


<div class="container">
    <img src="/media/img/paralelna2.jpg" style="width: 100%;">
{% block content %}
{% endblock %}
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/chart-data.js' %}"></script>
<script src="{% static 'js/easypiechart.js' %}"></script>
<script src="{% static 'js/easypiechart-data.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>


</body>
</html>