{% extends "core/base.html" %}

{% load i18n %}
{% load tags %}

{% block content %}

{% comment %}Translators: View verb{% endcomment %}

<div class="jumbotron">

    {% comment %}xxx{% endcomment %}

{% if user.is_authenticated %}
    <h1 class="mb-4">{% trans "home.hello" %} {{ user.username }} !</h1>

    <p class="lead">{% trans "home.thankyou" %}</p>

    <p>
    <h3>{% trans "home.tokens" %}</h3>

        <table class="table table-active">
            <thead>
            <tr>
                <th>{% trans "home.invest.token" %}</th>
                <th>{% trans "home.actual.token" %}</th>
                <th>{% trans "home.all.token" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
        {% for token in tokens %}
            <tr>
               <td class="green">{{ token.invest_amount }}</td>
               <td class="green">{{ token|actual_balance }}</td>
               <td class="green">{{ token.balance }}</td>
               <td><button class="btn btn-block"
                           title="{% trans 'login.button.choose.title' %}" disabled >{% trans "login.button.choose" %}</button></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </p>
    <p class="lead">
        <a href="{% url 'logout' %}?next=/" class="btn btn-secondary btn-md mt-2"><em class="fa fa-power-off"></em> {% trans "login.logout" %}
        </a>
    </p>


{% else %}
<p>
    {% trans "home.login.title" %}
</p>
<p class="lead">
    <a class="btn btn-secondary btn-lg mt-2" href="{% url 'login' %}" role="button">
        {% trans "home.login" %}
    </a>
</p>
{% endif %}

</div>
{% endblock %}