{% extends "core/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
    <h1 class="mb-4">{% trans "intro.h1.investment" %}</h1>

    <p>{% trans "intro.title.text" %}</p>
    <form action="" method="post">
        {% csrf_token %}

        <div class="fieldWrapper">
            <label>{% trans "qr.label.btc" %}</label>
            <br/>
            {% if form.btc.errors %}
            <ol>
                {% for error in form.btc.errors %}
                <li><strong class="red">{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}

            {{ form.btc }}
        </div>
        <br/>
        <div class="fieldWrapper">
            <label>{% trans "qr.label.username" %}</label>
            <!--{{ form.username.label_tag }}-->
            <br/>
            {% if form.username.errors %}
            <ol>
                {% for error in form.username.errors %}
                <li><strong class="red">{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}

        {{ form.username }}
        </div>
        <br/>
        <div class="fieldWrapper">
            <label>{% trans "qr.password.username" %}</label>
            <!--{{ form.password1.label_tag }}-->
            <br/>
            {% if form.password1.errors %}
            <ol>
                {% for error in form.password1.errors %}
                <li><strong class="red">{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}

            {{ form.password1 }}
        </div>
        <br/>
        <div class="fieldWrapper">
            <label>{% trans "qr.password2.username" %}</label>
            <!--{{ form.password2.label_tag }}-->
            <br/>
            {% if form.password2.errors %}
            <ol>
                {% for error in form.password2.errors %}
                <li><strong class="red">{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}
            {{ form.password2 }}
        </div>

        <p class="lead">
            <div class="input-group">
                <button type="submit" class="btn btn-secondary">{% trans "intro.button.next" %}</button>
            </div>
        </p>
    </form>
</div>

{% endblock %}