{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<br/>
<br/>

<div class="row">
    <div class="col-sm-6">
        <div class="card text-center" style="height: 450px;">
            <div class="card-header">
                {% trans "qr.title" %}
            </div>
            <div class="card-body">
            <img class="card-img-top" src="/media/{{ token.btc_payment_account }}.png" alt="{% trans 'qr.alt.img' %}">
                <p class="card-text">
                    {% trans "qr.title.btc" %}
                    <br/>
                    <span class="btc"> {{ token.btc_payment_account }} </span>
                    <br/>
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center" style="height: 450px;">
            <div class="card-header">
                {% trans "qr.title.check" %}
            </div>
            <div class="card-body">
                <p class="card-text">

                    <br/>
                    <br/>

                    {% if token.valid %}

                        <br/>
                        <br/>

                        <button type="button" class="btn btn-success">{% trans "qr.check.ok" %}</button>

                        <br/>
                        <br/>

                         <a href="{% url 'home' %}" class="btn btn-link">{% trans "qr.show.account" %} </a>

                    {% else %}

                        {% trans "qr.check.description" %}

                        <br/>
                        <br/>
                        <br/>

                        <a href="{% url 'token-check' token.btc_payment_account %}" class="btn btn-secondary">
                            {% trans "qr.check.link" %}
                        </a>
                        <br/>
                        <br/>

                        <button type="button" class="btn btn-warning">{% trans "qr.check.no" %}</button>

                        <br/>
                        <br/>
                    {% trans "qr.text.later" %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}

