{% extends "core/base.html" %}
{% load i18n %}
{% block content %}

<div class="jumbotron">
    <h1 class="mb-4">{% trans "login.h1.title" %}</h1>

    <p class="lead">{% trans "login.description" %}</p>

    <p>{% trans "login.info" %}</p>

    <p class="lead">
        <a class="btn btn-secondary btn-lg mt-2" href="{% url 'intro' %}" role="button">
            {% trans "login.invest" %}
        </a>
    </p>
</div>

<br/>

<div class="jumbotron">

    <p class="lead">
    <div class="card-block">
        <h3 class="card-title">{% trans "login.title" %}</h3>

        <p>{% trans "login.intro" %}</p>

        <form class="form-horizontal" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <fieldset>

                {% if form.errors %}
                <p style="color:red;">{% trans "login.error.access" %} </p>
                {% endif %}

                <!-- Name input-->
                <div class="form-group">
                    <label class="col-12 control-label no-padding" for="username">{% trans "login.name" %}</label>

                    <div class="col-12 no-padding">
                        <input id="username" name="username" type="text" placeholder="{% trans 'login.name.placeholder' %}" class="form-control">
                    </div>
                </div>

                <!-- password input-->
                <div class="form-group">
                    <label class="col-12 control-label no-padding" for="password">{% trans "login.password" %}</label>

                    <div class="col-12 no-padding">
                        <input id="password" name="password" type="password" placeholder="{% trans 'login.password.placeholder' %}" class="form-control">
                    </div>
                </div>

                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-12 widget-right no-padding">
                        <button type="submit" class="btn btn-secondary btn-md float-right">{% trans "login.submit" %}</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    </p>
</div>

{% endblock %}