{% extends "core/base.html" %}

{% block content %}
<h3>Nova tranzakcia</h3>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
{% endblock %}