{% extends "core/base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="mb-4">Všetky vykonané tranzakcie</h1>
    <h3><a class="btn btn-secondary btn-lg mt-2" href="{% url 'gui-token-list' %}">Tokeny</a></h3>
    <p>
    <table class="transaction">
        <tr>
            <th>Čas vytvorenia</th>
            <th>ID</th>
            <th>Objem tranzakcie</th>
            <th>Úrok do fondu z predaja</th>
            <th>Stiahnutá čiastka do fondu</th>
            <th>Čas zaúčtovania tranzakcie</th>
        </tr>
        {% for transaction in object_list %}
        <tr>
            <td>{{ transaction.create_time }} </td>
            <td>{{ transaction.id }} </td>
            <td>{{ transaction.amount }} </td>
            <td>{{ transaction.saved_rate }} </td>
            <td>{{ transaction.saved_amount }} </td>
            <td>{{ transaction.calculation_time }} </td>
        </tr>
        {% endfor %}
    </table>
    </p>

    <p class="lead">
        Vymazať všetky tranzakcie
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-lg mt-2" type="submit">Vymazať</button>
        </form>

    </p>
    <p class="lead text-right">
        <a href="{% url 'logout' %}?next=/" class="btn btn-secondary btn-md mt-2"><em class="fa fa-power-off"></em> Odhlásenie
        </a>
    </p>
</div>
{% endblock content %}

