{% extends "core/base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="mb-4">Všetky predané tokeny</h1>
    <h3><a class="btn btn-secondary btn-lg mt-2" href="{% url 'gui-transaction-list' %}">Tranzakcie</a></h3>
    <p>
    <table class="token">
        <tr>
            <th>Čas vytvorenia</th>
            <th>ID</th>
            <th>Investovane množstvo [µBTC]</th>
            <th>Úrok za investíciu [%]</th>
            <th>Získané tokeny</th>
            <th>Nesplatená pohladávka [µBTC]</th>
            <th>BTC adresa</th>
            <th>Čas vyplatenia úroku</th>
        </tr>
        {% for token in object_list %}
        <tr>
            <td>{{ token.create_time }} </td>
            <td>{{ token.id }} </td>
            <td>{{ token.invest_amount }} </td>
            <td>{{ token.interest_rate }} </td>
            <td>{{ token.balance }} </td>
            <td>{{ token.payout }} </td>
            <td>{{ token.bank_account }} </td>
            <td>{{ token.withdraw_time }} </td>
        </tr>
        {% endfor %}

    </table>
    </p>

    <p class="lead">
        Vymazať všetky tokeny
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-danger btn-lg mt-2" type="submit">Vymazať</button>
        </form>
    </p>
    <p class="lead text-right">
        <a href="{% url 'logout' %}?next=/" class="btn btn-secondary btn-md mt-2"><em class="fa fa-power-off"></em> Odhlásenie
        </a>
    </p>
</div>
{% endblock content %}

